.upperhomepage {
  width: auto;
  height: 80vh;
  /* background-image: url(./rohithhomepage.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* position: relative; */
  background-position: center;
  background-image: url(./20230204_133238.jpg);
}

.lowerhomepage {
  padding-bottom: 30px;
  width: auto;
  height: auto;
  background-color: beige;
}

.welcomeblock {
  font-size: 50px;
  text-align: left;
  font-weight: 400;
  padding-top: 180px;
  padding-left: 70px;
  color: gray;
}

.description {
  font-size: large;
  margin-left: 10%;
  margin-top: 5%;
  color: rgb(407, 201, 205);
  font-weight: 400;
  text-shadow: 5px 5px 50px;
  font-style: italic;
}

.welcomeblock {
  color: rgb(407, 201, 205);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

.welcomeblock span {
  color: #ea3636;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.headinglower {
  color: hsl(0, 0%, 28%);
  font-size: 30px !important;
  font-weight: bold !important;
  font-family: monospace;
  letter-spacing: 7px !important;
  text-transform: uppercase;
}

.headinglower {
  padding: 30px 0px 10px 0px;
  text-align: center;
  background: linear-gradient(to right, hsl(0, 8%, 53%) 0, hsl(0, 63%, 60%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
}

.home-line {
  height: 7px;
  background: linear-gradient(to right,
      #ffffff 0%,
      #bab9b9 25%,
      #6e6e6e 50%,
      #bab9b9 75%,
      #ffffff 100%);
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 1000px;
  }

  100% {
    background-position: 1000px;
  }
}

@media screen and (max-width:480px) {
  body {
    width: fit-content;
  }

  /* .upperhomepage{
background-size:auto;
width: auto;
  } */
  .welcomeblock{
    padding-top: 100px;
  }
}